<!DOCTYPE html>
<html>
  <head>
    <title>Seek</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% flash.each do |key, value| %>
       <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
     <% end %>

     <header>
      <div class="container">
        <div class="header-title-area">
          <h1 class="logo">Seek(シーク):尋ね人・人探し</h1>
          <ul class="header-navigation">
            <li><a href="/">ホーム</a></li>
            <li><a href="/topics/new">依頼申込</a></li>
            <li><a href="/topics">依頼一覧</a></li>
            <li><a href="#">サービス案内</a></li>
            <li><a href="#">特商法表記</a></li>
            <li><a href="#">お問い合わせ</a></li>          
          </ul>
        </div>
      </div>
    </header>
    <% zaiko = 2 %>
    <%= yield %>
    <script>
     $(function(){
        $(".alert").fadeOut(5000); });
    </script>
  </body>
</html>
